<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">

                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Lista uczniów</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/home'}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/employees'}">Pracownicy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/groups'}">Grupy/Klasy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/inventories'}">Inwentaryzacja</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</header>

<main>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Wiek</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customer}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.age}"></td>
            <td><a th:href="@{/customers/detailscustomer/(id=${customer.id})}" class="btn btn-outline-primary">Szczegóły</a></td>
            <td><a th:href="@{/customers/editscustomer/(id=${customer.id})}" class="btn btn-outline-primary">Edytuj</a></td>
            <td><a th:href="@{/customers/deletecustomer/(id=${customer.id})}" class="btn btn-outline-primary">Usuń</a></td>

        </tr>
        <div class="form-group">
            <a th:href="@{/customers/addcustomer}" class="btn btn-primary">Dodaj klienta</a>

        </div>

        </tbody>
    </table>




</main>

<footer>
    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->

            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://github.com/Kruchyxe/SchoolMenagerSoft">Kruchyxe</a>
        </div>
        <!-- Copyright -->
    </footer>


</footer>

</body>
</html>